/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    background: url('../images/c1.jpg') no-repeat center center;
    height: 45vh;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    background: url('../images/c2.jpg') no-repeat center center;
    height: 45vh;
  }
}


/*.jumbotron {
  background: url('../images/c1.jpg') no-repeat center center;
} */